* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #780000;
  color: white;
}

.topnav .icon {
  display: none;
}

.content {
  max-width: 670px;
  margin: 0 auto;
  padding: 15px 30px 30px;
}

.home {
  text-align: center;
  font-size: 40px;
}

.bio {
  font-size: 15px;
  text-align: justify;
}

.headshot {
  margin: 8px 20px 20px 0;
  max-height: 250px;
  float: left;
}

.stat {
  font-size: 17px;
  font-style: italic;
}

.link {
  color: #000000;
}

.link:hover {
  text-decoration: none !important;
  color: #780000;
}

.footer {
  padding: 10px 15px 0;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

svg:hover {
  fill: #780000 !important;
}

.copyright {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0;
  color: grey;
}

div.cv_resume {
  text-align: center;
}

div.cv_resume iframe {
  display: block;
  margin-left: -25%;
}

@media only screen and (max-width: 768px) {
  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  }
  
  .name {
    font-size: 30px;
  }

  .headshot {
    max-height: 100px;
    margin: 5px;
  }
}
